.menu {
  width: auto;
  height: 55px;
  background-color: #044C7F;
  display: flex;
  color: white;
}

h1 {
  font-family: 'Raleway', sans-serif;
  margin: 10px;
}

input {
  font-family: 'Lato', sans-serif;
}

h2 {
  color: #216393;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
}

.kuborobot img{
  display: flex;
  flex-direction: row-reverse;
  width: 300px;
  height: auto;
  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    padding-right: 1000px;
}

.styleimg {
  height: 500px;
}

.styleimg2 {
  height: 300px;
}
